<%# insert
    banner
    here ? %>

<div class="container">
  <div class="row">
    <% @collections.each do |collection| %>
      <%= render "shared/card", element: collection %>
      <%= render "shared/modal", element: collection %>
    <% end %>
  </div>
</div>

<%= link_to map_path, class: "map-marker" do %>
  <i class="fas fa-map-marker-alt"></i>
<% end %>

