<div>
  <div
    id="map"
    style="width: 100%;
    height: 90vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <div class="dropdown-neighborhoods button-map-position">
    <button class="button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Neighborhoods
    </button>

    <div class="dropdown-menu scrollable-menu" id="neighborhoods" aria-labelledby="dropdownMenuButton">
      <% Collection::NEIGHBORHOODS.each do |neighborhood| %>
        <%= link_to neighborhood, map_path(q:neighborhood), class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
</div>

  <%#= link_to "Reward", root_path(q:'reward'), class: "dropdown-item" %>
  <%#= link_to "Newest", root_path(q:'newest'), class: "dropdown-item" %>
  <%#= link_to "Oldest", root_path(q:'oldest'), class: "dropdown-item" %>

