<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 form-adjustments">
      <div class="d-flex justify-content-center logo-adjustments">
        <%= image_tag("logo-white.png", height: '100%', width: '160px')%>
      </div>
      <div class="form">
        <%= render 'collection_form', collection: @collection  %>
      </div>
    </div>
  </div>
</div>
