<div class="card-body">
  <div class="d-flex justify-content-between">
    <div>
      <h4>Reward: <%#= @tractor.reward %>kr</h4>
    </div>
    <div>
      <h4>Area: <%#= @tractor.address.split.last  %></h4>
    </div>
  </div>
  <p>Donator: <%#= @tractor.user.first_name %></p>
      <%# if @tractor.user_id != current_user.id %>
        <!-- <div class="widget-content" data-unavailable=" --><%#= @tractor.unavailable_dates.to_json %>">
          <!-- <div class="dates"> -->
            <%#= simple_form_for([@tractor, @booking]) do |f| %>
              <%#= f.input :start_date, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
              <%#= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
              <%#= f.submit "Rent this tractor", class: "btn btn-primary btn-lg btn-block btn-booking mt-4" %>
            <%# end %>
          <!-- </div>
        </div> -->
      <%# else %>
        <!-- <h3>Your note for the collector:</h3><h5><%#= @tractor.details %></h5> -->
      <%# end %>
    <!-- </div>
  </div> -->
</div>
