// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom colors
$light-green: #00ADB5;
$dark-green: #00989e;
$black: #222831;
$brown: #393E46;
$white: #EEEEEE;
$dark-white: #8f8f8f;
