.dashboard-user {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  p {
    margin-top: 8px;
    margin-bottom: 0;
  }
  i {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.dashboard-container {
  margin: 1em;
}

.nav-item {
  border-radius: 12px 12px 0 0;
}

.card-header {
  padding: 0.2rem 0.25rem;
}

.dashboard-numbers h1 {
  margin: 20px;
}
