<div class="glide d-flex align-items-end">
  <div data-glide-el="track" class="glide__track d-flex align-items-end">
    <ul class="glide__slides">
        <div class="glide__slide text-center"><h1>First</h1></div>
        <div class="glide__slide text-center"><h1>Second</h1></div>
        <div class="glide__slide text-center"><h1>Third</h1></div>
    </ul>
  </div>
</div>

