<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">First</li>
      <li class="glide__slide">Second</li>
      <li class="glide__slide">Third</li>
    </ul>
  </div>
</div>
