<div class="glide" style="height:100%, display: block !important;position: fixed;bottom: 0;"">
  <div data-glide-el="track" class="glide__track">
    <ul class="glide__slides">
        <div class="glide__slide text-center">
          <%= image_tag("beach.png")%>
            <h1>For the Environment.</h1>
          </div>
        <div class="glide__slide text-center">
          <%= image_tag("norway.png")%>
            <h1>Norway - Setting the example for the World.</h1>
        </div>
        <div class="glide__slide text-center">
          <%= image_tag("money.png")%>
            <h1>Make some quick cash.</h1>
        </div>
        <div class="glide__slide text-center">
          <%= image_tag("cropped-logo.png", height: '100%', width: '200px')%>
            <h1>Let's get started.</h1>
        </div>
    </ul>
  </div>
</div>

