<div class="container background-logo">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="d-flex justify-content-center">
        <%= image_tag("logo-white.png", height: '100%', width: '260px')%>
      </div>
      <%= yield %>
    </div>
  </div>

  <div class="button-container">
    <%= link_to "Login",  new_user_session_path, class:"button-white" %>
  </div>

  <div class="button-container">
    <%= link_to "Learn more?", learn_path, class:"link-text" %>
  </div>
</div>
