<div class="col-sm-12 col-md-6 col-lg-4">
  <div class="card-collect">
    <div>
      <img class="avatar-large" alt="avatar-large" src="https://i.pravatar.cc/200"/>
    </div>
    <div>
      <%= link_to collection_path(element[:id]), {:class=>"card-collect-infos"} do %>
        <div class="card-collect-infos">
          <h3><%= "#{element.user.first_name} donates #{element.tip} kr"%></h3>
          <p><%= element.address %></p>
      <% end %>
      </div>
    </div>
  </div>
</div>
