<div class="col-sm-12 col-md-6 col-lg-4">
  <div class="card-collect">
    <div>
      <img class="avatar-large" alt="avatar-large" src="https://i.pravatar.cc/200"/>
    </div>
    <div class="card-collect-infos">
      <h3><%= link_to "#{element.user.first_name} donates #{element.tip} kr", element %></h3>
      <p><%= element.address %></p>
    </div>
  </div>
</div>
