<div class="card-collect">
  <img src="https://i.pravatar.cc/300" />
  <div class="card-collect-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
