<!-- Formerly the section for Tractor Photo. Avatar here? -->

  <!-- <div class="card-product-infos"> -->
    <h2><%= link_to element.user.name, element %></h2>
    <h3><%= element.tip %> kr</h3>
    <p><%= element.address %></p>
  </div>
</div>
