<!-- Formerly the section for Tractor Photo. Avatar here? -->

  <!-- <div class="card-product-infos"> -->
    <h2><%= link_to element.user.name, element %></h2>
    <h3><%= element.tip %> kr</h3>
    <p><%= element.address %></p>
<<<<<<< HEAD
=======

<div class="card-collect">
  <img src="https://i.pravatar.cc/300" />
  <div class="card-collect-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
>>>>>>> 33630a5886627ef6f435a78c98e1efa418c9f835
  </div>
</div>
