
<div class="text-center">
  <h3>Your statistics</h3>
  <p>HERE IS AN AMAZING MOTIVATIONAL BAR</p>
  <p>BASED ON THE BAR, YOU HAVE SAVED SO MUCH LIVES AND TREES AND MOMS</p>
<!-- Here we want a cool bar -->
  <h5>Total of bottles saved</h5>
  <p>124 bottles</p>
</div>

<p>Money earned: 448 kr</p>
<p>Colletions: 22</p>
<p>Donations: 2</p>
