<div class="text-center">
  <h5>Your current donations:</h5>
</div>
<div class="container">
  <div class="row" id='donations'>
    <% current_user.collections.each do |donation| %>
      <% if donation.bookings.empty? || !donation.bookings.last.confirmed? %>
        <%= render "shared/card_donator", element: donation %>
        <% else %>
          <p> You have no donations out!</p>
      <% end %>
    <% end %>
  </div>
</div>
