<div class="container">
  <div class="row" id='donations'>
    <% if current_user.collections.any? %>
      <% current_user.collections.order(created_at: :desc).each do |donation| %>
          <%= render "shared/card_donator", element: donation %>
      <% end %>
    <% else %>
      <p> You have no donations. Click the plus button to donate now!</p>
    <% end %>
  </div>
</div>
