<script>
  window.userStats = <%=raw @stats.to_json %>;
</script>

<div class="text-center">
  <div class="dashboard-numbers">
    <h5>Total bottles saved</h5>
    <h1><%= @stats[:bottles_picked_up] + @stats[:bottles_donated] %> bottles</h1>
  </div>
<div class="motivation-container">
  <% case @stats[:bottles_picked_up] %>
  <% when 0 %>
    If you pant one bottle, you save enough energy to fully charge your mobile 70 times
  <% when 1..10 %>
    Great job!
  <% when 11..20 %>
    Ok
  <% end %>
</div>

  <div class="d-flex justify-content-around dashboard-numbers-two">
    <div class="dashboard-stats">
      <p>Money earned</p>
      <canvas id="moneyEarnedChart" width="200" height="200"></canvas>
    </div>
    <div class="dashboard-stats">
      <p>Charity provided:</p>
      <canvas id="charityProvidedChart" width="200" height="200"></canvas>
      <p><%#= @stats.money_donated %> kr</p>
    </div>
  </div>
  <div class="d-flex justify-content-around dashboard-numbers-two">
    <div class="dashboard-stats">
      <p>Collections:</p>
      <canvas id="collectionChart" width="200" height="200"></canvas>
      <p><%#= @stats.pick_ups %></p>
    </div>
    <div class="dashboard-stats">
      <p>Donations:</p>
      <canvas id="donationChart" width="200" height="200"></canvas>
      <p><%#= @stats.donations %></p>
    </div>
  </div>
</div>
