
<div class="text-center">
  <%= render 'shared/progression_bar' %>
  <p>BASED ON THE BAR, YOU HAVE SAVED SO MUCH LIVES AND TREES AND MOMS</p>
</div>

<p>Money earned: 448 kr</p>
<p>Colletions: 22</p>
<p>Donations: 2</p>
