<div class="navbar-placeholder">
</div>

<nav class="custom-navbar">
  <div class="navbar-icons">
    <i class="fas fa-list-ul"></i>
  </div>
  <div class="navbar-icons round-button">
      <i class="fas fa-plus"></i>
  </div>
  <div class="navbar-icons">
      <i class="fas fa-user-circle"></i>
  </div>
</nav>
