.avatar-small {
  border-radius: 50%;
  font-size: 70px;
  color: $light-green;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 70px;
  height: 70px;
  margin: 10px;
}

.avatar-large {
  /* width: 56px; */
  border-radius: 50%;
  font-size: 100px;
  color: $light-green;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100px;
  height: 100px;
  margin: 10px;
}
