.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  /* width: 56px; */
  border-radius: 50%;
  font-size: 100px;
  color: $light-green;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0;
}
