.card-collect {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  overflow: hidden;
  height: 120px;
  align-items: center;
  margin-top: 10px;
  background-color: white;
}

/* On mouse-over, add a deeper shadow */
.card-collect:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-collect img {
  height: 100%;
  width: 100px;
  margin: 10px;
}

.card-collect p {
  margin-bottom: 0;
  margin-top: 8px;
}

/* Add some padding inside the card container */

.card-collect .card-collect-infos {
  padding: 16px;
}
