.center-container {
  display: flex;
  justify-content: center;
  margin: 0px;
  p {
    margin: 0;
  }
}

.motivation-container {
  margin: 2em 1em;
}

.dashboard-stats {
  min-width: 190px;
  min-height: 170px;
  background-color: white;
  margin: 5px;
  padding-top: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  p {
    margin-bottom: 0 !important;
    padding-top: 10px;
  }
}

.chart-label {
  margin: 0px;
}

.dot {
  height: 20px;
  width: 20px;
  background: $brown;
  border-radius: 50%;
  display: inline-block;
  margin: 8px;
}

.dot-two {
  height: 20px;
  width: 20px;
  background: #5eb50f;
  border-radius: 50%;
  display: inline-block;
  margin: 8px;
}
