.center-container {
  display: flex;
  justify-content: center;
  margin: 0px;
  p {
    margin: 0;
  }
}

.motivation-container {
  margin: 2em 1em;
}

.dashboard-stats {
  min-width: 190px;
  min-height: 170px;
  background-color: white;
  margin: 5px;
  border-radius: 12px;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#charityProvidedChart {

}
