.algolia-places {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #777777 !important;
  }
}

.center-container {
  display: flex;
  justify-content: center;
  margin: 0px;
  p {
    margin: 0;
  }
}

.motivation-container {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;

  p {
    margin-bottom: 0;
  }
}

.dashboard-stats {
  margin-bottom: 22px;
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  canvas {
    margin: 5px 5px 0 5px;
  }

  p {
    margin-bottom: 0 !important;
  }
}

.chart-label {
  margin: 0px;
  margin-bottom: 50px;
  justify-content: center;

  .dot {
    height: 15px;
    width: 15px;
    background: $dark-white;
    border-radius: 50%;
    display: inline-block;
    margin: 8px;
  }

  .dot-two {
    height: 15px;
    width: 15px;
    background: $light-green;
    border-radius: 50%;
    display: inline-block;
    margin: 8px;
  }

  .chart-label-item {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
}
