.form-control {
  background-color: white;
  border-radius: 10px;
  margin: 34px 0px;
  .password {
    margin-bottom: 0;
  }
}

.form-control:active {
  background-color: white;
  border-radius: 12px;
}

.form-control:focus {
  background-color: white;
  border-radius: 10px;
}

.form {
  padding: 0 30px;
  h2 {
    text-align: center;
  }
}

.algolia-places {
  display: block !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.text-muted {
  margin: -20px 0;
}
