.map-marker {
  background-color: white;
  color: $black;
  border-radius: 50%;
  position: relative;
  display: flex;
  bottom: 26px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 73px;
  right: 8px;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  i {
    width: 22px;
    height: 22px;
    display: contents;
  }
}

.map-marker:active {
  text-decoration: none;
  color: $black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.map-marker:hover {
  text-decoration: none;
  color: $black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.two-icons-container {
  display: flex;
  justify-content: flex-start;
  margin: 2px;
  margin-bottom: 10px;
  p {
    margin: 14px 0;
    margin-right: 17px;
    margin-bottom: 0px;
    color: $dark-green;
    opacity: 1;
  }
}

.three-icons-container-modal {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  margin-bottom: 10px;
  p {
    margin: 14px 0;
    margin-bottom: 0px;
    color: $dark-green;
    opacity: 1;
  }
}

.tree-icons-container {
  display: flex;
  justify-content: center;
  p {
    margin: 24px 24px 0 24px;
    font-color: $black;
  }
}



.close {
  margin-top: 10px;
  margin-right: 10px;
}

a.mapboxgl-ctrl-logo {
  visibility: hidden;
}

.mapboxgl-ctrl-bottom-right {
  visibility: hidden;
}

.collapsable {
  i.fas {
    transition: all .3s;
    transform: rotate(0deg);
  }

  &.collapsed {
    i.fas {
      transform: rotate(-90deg);
    }
  }
}
