.background-logo {
  background: $light-green;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0,191,200,1) 0%, rgba(0,173,181,1) 100%);
  img {
    margin-bottom: 60px;
    margin-top: 90px;
  }
}

.logo-small img {
  margin-top: 100px;
}

.logo-background-green {
  background: $light-green;
  background: linear-gradient(0deg, rgba(0,191,200,1) 0%, rgba(0,173,181,1) 100%);
}
