// app/assets/stylesheets/components/_map.scss
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  border-radius: 10px !important;
  height: 254px !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
