$navbar-height: 65px;

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  height: $navbar-height;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #cdcdcd;
}

.navbar-icons {
  float: left;
  display: block;
  color: $light-green;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 28px;
  .fa-user-circle {
    font-size: 34px;
  }
}

.navbar-icons-modified img {
  width: 2.7em;
}

.navbar-placeholder {
  height: $navbar-height;
  width: 100%;
  bottom: 0;
}

.round-button {
  background-color: white;
  border: 2px solid $light-green;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: $light-green;
  border-radius: 50%;
  position: relative;
  display: flex;
  bottom: 26px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  i {
    width: 28px;
    height: 28px;
    display: contents;
    text-decoration: none;
  }
   a {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
    color: $light-green;
  }
}

.round-button-active {
  background-color: $light-green;
  border: 2px solid $light-green;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  bottom: 26px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  i {
    width: 28px;
    height: 28px;
    display: contents;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
    color: white;
  }
}

.nav-pills .nav-link {
  border-radius: 10px 10px 0 0;
}

.mb-3 {
  border-bottom: 2px solid $light-green;
}

