$navbar-height: 65px;

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  height: $navbar-height;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #00ADB5;
}

.navbar-icons {
  float: left;
  display: block;
  color: $light-green;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 28px;
  .fa-user-circle {
    font-size: 34px;
  }
}

.navbar-icons:hover {
  text-decoration: none;
}

.navbar-icons-active {
  float: left;
  display: block;
  color: $brown;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 28px;
  .fa-user-circle {
    font-size: 34px;
  }
}

.navbar-placeholder {
  height: $navbar-height;
  width: 100%;
  bottom: 0;
}

.round-button {
  background-color: white;
  border: 2px solid $light-green;
  color: $light-green;
  border-radius: 50%;
  position: relative;
  display: flex;
  bottom: 26px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  i {
    width: 28px;
    height: 28px;
    display: contents;
  }
}

.round-button-active {
  background-color: white;
  border: 2px solid $brown;
  color: $brown;
  border-radius: 50%;
  position: relative;
  display: flex;
  bottom: 26px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  i {
    width: 28px;
    height: 28px;
    display: contents;
  }
}

.round-button-active:hover {
  text-decoration: none;
}


.nav-pills .nav-link {
  border-radius: 12px 12px 0 0;
}

.mb-3 {
  border-bottom: 2px solid $light-green;
}

