.glide-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 173, 181, 0.7) 30.05%, rgba(0, 173, 181, 0.511) 61.98%, rgba(0, 173, 181, 0.147) 93.75%);
  overflow: hidden;
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7));
}

.glide__track {
  background: white;
}

.glide__slide h3 {
  font-weight: bold;
  color: $black;
  width: 80%;
  margin-bottom: 30px;
  width: 375px;
  margin-left: 5px;
  margin-right: 5px;
}
.glide__slide h5 {
  font-weight: bold;
}

.glide__slide a {
  color: $black;
}

.slider-navbar-icons {
  margin: 10px;
}

.slider-footer-icons {
  margin: 10px;
}

.slider-navbar {
  // margin-bottom: 10px;
}

.slider-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.slider-last-adjustments {
  background: $light-green;
  background: linear-gradient(0deg, rgba(0,191,200,1) 0%, rgba(0,173,181,1) 100%);
  h3 {
    margin-top: 40px;
    margin-bottom: 0px;
    color: $white;
  }
}

.glide__bullet {
  background: $black;
  border-radius: 12px;
  border: 0;
  width: 14px;
  height: 5px;
  opacity: 0.6;
  border: 1px solid $black;
}

.glide__bullet--active {
  background: $light-green;
  border: 1px solid $black;
}

.glide-text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glide-text p {
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
}

.glide-image {
  margin-bottom: 0px;
}

#last-page-header {
  margin-top: 0;
}

.button-container-learn {
  display: flex;
  justify-content: center;
  margin: 0px 20px 0px 20px;
}


