.glide-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: white;
  overflow: hidden;
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7));
}

.glide__track {
  background: white;
}

.glide__slide h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  color: $black;
}
.glide__slide h5 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

.glide__slide p {
  font-family: 'Work Sans', sans-serif;
}

.slider-navbar-icons {
  margin: 10px;
}

.slider-footer-icons {
  margin: 10px;
}

.slider-navbar {
  margin-bottom: 10px;
}

.slider-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.slider-last-adjustments {
  background: $light-green;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.glide__bullet {
  background: $black;
  border-radius: 12px;
  border: 0;
  width: 14px;
  height: 3px;
}

.glide__bullet--active {
  background: $light-green;
}


